.section-navbar {
    padding-top: 2rem;
    // margin-right: 8rem;
    border-bottom: 2px solid $color-black;
    &__item {
        .user {
            .user-avt {
                $img-size: 5rem;
                width: $img-size;
                height: $img-size;
                border-radius: 50%;
                border: 2px solid $color-black;
                overflow: hidden;
            }
            .user-desc {
                line-height: normal;
                h3 + p {
                    padding-top: 5px;
                }
            }
            .user-avt + .user-desc {
                margin-left: 10px;
            }
        }
    }

    &__mail,
    &__notifi {
        $bg-size: 5rem;
        height: $bg-size;
        width: $bg-size;
        background-color: $color-bg;
        border-radius: 50%;
        svg {
            font-size: 2rem;
            color: $color-white;
        }
    }
}
