.section-product {
    &__title {
        font-size: 3rem;
        text-transform: uppercase;
        padding: 2.5rem 0;
    }

    &__func {
    }

    &__content {
        padding: 2.5rem 0;
    }
}
