.footer-section {
    text-align: center;
    border-top: 2px solid $color-black;
    font-size: 1.6rem;
    &__top {
        margin: 1.5rem;
        &--desc {
            padding: 1.5rem 0;
        }
    }

    &__bottom {
        border-top: 1px solid $color-gray;
        padding: 1.5rem 0;
    }
}
